<div ng-controller="translate" style="padding: 15%; padding-top: 5%">
    <br/>
    <br/>
    <br/>
    <h2 style='text-align: center;'>{{'about'| translate}}</h2>

    <hr>
    <h3 style='text-align: left;'>Descripción</h3>
    <hr>
    <p>Sistema de Detección de Similitud entre Sílabos de Instituciones de Educación 
        Superior (IES) del Ecuador</p> 
    <p>Este sistema está basado en la aplicación de tecnologías semánticas y minería de textos</p>
    <hr>
    <p>
        ANTECEDENTES  
    </p>

    <ul class="dashed">
        <li>Los cursos universitarios son gestionados mediante sistemas basados en sílabos,
            como es el caso de las Instituciones de Educación Superior (IES) del Ecuador.</li>
        <li>No existe una estructura normalizada de sílabos para las universidades, 
            generando variedad de formatos y modelos de datos.</li>
        <li>Esta situación afecta procesos académicos, entre ellos, la    
            movilidad estudiantil y/o convalidación de créditos entre IES.</li>
        <li>Tiempo elevado en tareas de comparación entre sílabos (tareas manuales)</li>
    </ul>

    <br>
    <hr>
    <p>PROPUESTA</p>

    <ul class="dashed">
        <li>Aplicación de tecnologías semánticas y de minería de textos.</li>
        <li>Desarrollar de un modelo común de datos de sílabos para todas 
            las IES del Ecuador. (Ontología)</li>
        <li>Crear el repositorio común de sílabos de IES del Ecuador.</li>
        <li>Desarrollar servicios que permitan la detección automática de similitudes 
            entre sílabos de las IES del Ecuador.</li>
        <li>Desarrollar un sistema informático para la consulta y 
            detección de similitud entre sílabos.</li>
    </ul>

    <br/>
    <br/>
    <h3 style='text-align: left;'>Arquitectura Propuesta</h3>
    <img src="similitud_silabos/images/arquitectura.png" style="width: 100%" />

    <br>
    <hr>
    <p>EXTRACCIÓN DE DATOS</p>
    <ul class="dashed">
        <li>Cada IES maneja su estructura de  datos de sílabos.</li>
        <li>Un  proceso  <a href="https://es.wikipedia.org/wiki/Extract,_transform_and_load">
            ETL</a>  para  la  extracción de 
            datos por cada IES.</li>
        <li>Se crea una BD Temporal por cada IES con datos preprocesados 
            (manejo de campos vacíos, nulos, duplicados, etc)</li>
    </ul>
    <br/>
    <hr>
    
    <p>MODELO DE DATOS (ONTOLOGÍA)</p>
    <ul class="dashed">
        <li>Se reutiliza modelos para lograr estandarización, integración e interoperabilidad</li>
        <li>Creación de la ontología utilizando las siguientes herramientas de software:
            -  <a href="http://mayor2.dia.fi.upm.es/oeg-upm/index.php/es/methodologies/59-neon-methodology/index.html">
                NEON</a>: Metodología de desarrollo.
                -  <a href="https://protege.stanford.edu/">PROTÉGÉ</a>: Creación, reutilización, etc.
                -  <a href="http://oops.linkeddata.es/">OOPS!</a>:  Validación.
                -  <a href="https://github.com/dgarijo/Widoco">WIDOCO</a>: Publicación en formato html.
        </li>
        <li>El modelo desarrollado esta basado en las siguientes ontologías: 
            <a href="http://vocab.org/aiiso/">AIISO</a> y 
            <a href="https://sparontologies.github.io/doco/current/doco.html">DOCO</a>: contenidos académicos.
            -  <a href="http://bibliontology.com/">BIBO</a>: fuentes bibliográficas.
            -  <a href="http://xmlns.com/foaf/spec/">FOAF</a>: datos de personas (profesores, coordinadores, etc).</li>
    </ul>
    <br/>
    <hr>
    
    <p>GENERACIÓN DE RDF (RDF-IZATION) </p>
    <ul class="dashed">
        <li>Es el proceso de transformar los datos de bases de datos tradicionales
        a formato RDF (Basado en el modelo ontológico)</li>
        <li>Proceso ETL: Utilizando  <a href="https://github.com/ucuenca/lodplatform">LOD-GF</a> framework para <a href="https://community.hitachivantara.com/docs/DOC-1009855">Pentaho Data Integration</a></li>
        <li>Los Plugins de LOD-GF permiten:
                      -  Leer la ontología
                      -  Configurar mappings
                      -  Generar RDF
                      -  Cargar  RDF a un Triplestore</li>
    </ul>
    <br/>
    <hr>
    
    <p>DETECCIÓN DE SIMILITUDES</p>
    <ul class="dashed">
        <li>Se aplican ténicas, metodologías y herramientas de minería de textos</li>
        <li>Se combinan diferentes técnicas para el análisis</li>
        <li>Se obtiene un porcentaje de similitud entre pares de sílabos</li>
        
    </ul>
    <br/>
    <hr>
    
    <p>Sistema de detección de similitud entre sílabos</p>
    <ul class="dashed">
        <li>Página web que permite navegar y consultar información del respositorio semántico de 
            sílabos y detectar similitudes </li>
        
    </ul>
    <br/>
    <hr>
    


</div>
