<div class="credito col-md-12" style="background-color: #FFFFFF;  padding-top: 0%;">
    <div class="col-md-2">
            <a target='blank' href="http://cedia.org.ec"><img class="img-rounded zoom" src="../resources/logo_cedia.png" class="img-rounded" alt="Logo Cedia" style="width: 150px"></a>
    </div>
    <div class="col-md-2">
            <a target='blank' href="http://ucuenca.edu.ec"><img class="img-rounded zoom" src="../resources/logo_u.png" class="img-rounded" alt="Universidad de Cuenca" width="100" height="50"></a>
    </div>
    <div class="col-md-2">
            <a target='blank' href="http://uazuay.edu.ec"><img class="img-rounded zoom" src="../resources/logo_uda.jpg" class="img-rounded" alt="Universidad del Azuay" width="90" height="50"></a>
    </div>
    <div class="col-md-2">
            <a target='blank' href="http://utpl.edu.ec"><img class="img-rounded zoom" src="../resources/logo_utpl.jpg" class="img-rounded" alt="Universidad de Loja" width="90" height="50"></a>
    </div>
     <div class="col-md-4" style="text-align: left">
      
          <!--  <p class="text-primary" style="text-align: center; padding: 20px">
                Dirección: Gonzalo Cordero 2-122 y J. Fajardo <br>
                      Telf: (07) 4079300<br>
                       <a href="mailto:info@cedia.org.ec">info@cedia.org.ec</a>
            </p>
        -->
    </div>
    
    <!--
    
        <hr>
        <div class="col-md-2">
            <p class="text-primary" style="font-size: 13px; text-align: center; padding: 5px">
                <strong>Con la colaboraci&oacute;n de:</strong>
            </p>
        </div>
        <div class="col-md-1">
            <center>
                
            </center>
        </div>
        <div class="col-md-4">
            <h6>
                <p class="text-primary" style="font-size: 10px;padding: 0px">Universidad de Cuenca</p>
                <p class="text-primary" style="font-size: 9px; text-align: left; padding: 2px">
                    Av. 12 de Abril y Agustín Cueva - Ciudadela Universitaria<br>
                    Teléfono: 593-7 405 1000 Fax: 593-7 405 1005 Casilla Postal: 01.01.168 <br>
                    centro.info@ucuenca.edu.ec <br>
                    Cuenca Ecuador <br>
                </p>
            </h6>
        </div>
        <div class="col-md-1">
            <center>
                <a target="blank" href="http://ucuenca.edu.ec/la-oferta-academica/oferta-de-grado/facultad-de-ingenieria/dptos/dcc"><img src="../resources/logo_dcc.png" class="img-rounded" alt="Logo DCC" width="75" height="50"></a>
            </center>
        </div>
        <div class="col-md-4">
            <h6>
                <p class="text-primary" style="font-size: 10px;padding: 0px">Departamento de Ciencias de la Computaci&oacute;n - UC</p>
                <p class="text-primary" style="font-size: 9px; text-align: left; padding: 2px">
                    Av. 12 de Abril y Agustín Cueva - Edificio de Laboratorios Tecnologicos 4to Piso.<br>
                    Teléfono: 593-7 405 1000 <br>
                    centro.info@ucuenca.edu.ec <br>
                    Cuenca Ecuador
                </p>
            </h6>
        </div>
        <hr>
        -->
    </div>