<div ng-controller="translate" style=" padding: 15%; padding-top: 5%">
    <br/>
    <br/>
    <br/>
    <h2 style='text-align: center;'>{{'information' | translate}}</h2>
    
    <!--<a href="/wkhome/resources/Manual_Usuario_REDI.pdf" target="_blank">{{ 'Descargar Manual' | translate }}</a>-->
    <hr>
    <h3 style='text-align: left;'>Descripción</h3>
    <hr>
    <p>Sistema de Detección de Similitud entre Sílabos de Instituciones de Educación 
    Superior (IES) del Ecuador</p> 
    <ul class="dashed">
        <li>Creación del repositorio semántico de sílabos de IES del Ecuador</li>
        <li>El sistema extre sílabos de base de datos tradicionales de las instituciones,
        transforma estos datos a formato RDF, los almacena en un repositorio de Tripletas (Reositorio Semántico).
        </li>
        <li>Sistema de detección de similitudes</li>
        <li>
        A partir de los datos RDF, se ejecutan técnicas de minería de datos
        para obtener un valor de similitud entre pares de sílabos</li>  
        
        <li>Un sílabo está compuesto de varias secciones, entre ellas el "Contenido Académico". El Contenido académico de un sílabo
        esta compuesto por capítulos y subcapítulos. Es esta sección la que tiene mayor peso al momento del análisis de similitud.</li>
        
    </ul> <br/>
    <p>Este sistema está basado en la aplicación de tecnologías semánticas y minería de textos</p>
    
    <br/>
    <br/>
    <h3 style='text-align: left;'>Arquitectura Propuesta</h3>
    <img src="similitud_silabos/images/arquitectura.png" style="width: 100%" />
    
    <br/>
    <br/>
    
  
    <hr>
    <br/>
    <br/>
   <div class='col-md-12' ng-include="'/wkhome/partials/footnote.html'"/> 
</div>
