

<div id="tooltip" class="" style="opacity:0;">
    <p><strong></strong>
    </p>
    <p><span id="value"></span></p>
</div>


<div ng-controller="translate">
    <div class="container-fluid" style=" background-color: #F2F2F2" >
        <div class="col-md-12" style="text-align: center; margin-top: 80px">
             <div class="row presentation">
            <div class="col-md-12">
                <div class="col-md-12 " style="">
            
                    <p>
                        <a ng-click="refreshLang()" href="#/{{lang}}/cepraxi/similitud">Analizar Sílabos</a>
                    </p>
                    <p>
                        <a ng-click="refreshLang()" href="#/{{lang}}/cepraxi/navegar">Navegar</a>
                    </p>
                </div>
            </div>
                 </div>
        </div>    
    
</div>
 <div class='col-md-12' ng-include="'/wkhome/partials/footnote.html'"/>
</div>
