<div id="scrollToTop">
</div> 
<hr>
<hr>
<div ng-controller="similitudBuscar">


    <div class="col-md-12">

        <center>
            <div class="page-header">
                <h2 class="text-uppercase text-primary">{{'similitudRepoTitle'| translate}}</h2>
            </div>
        </center>
    </div>




    <!--------Inicia acciones con silabo A--->
    <div class="col-md-6" >
        <h3 class="text-info" style="text-align: left">{{'silaboA'| translate}}:</h3>
        <div class="row" style="padding: 2%">


            <div class="col-md-12">

                <div class="ingresar col-md-12" style="padding: 2%" >
                    <button ng-click="searchDialogA()">Buscar Sílabo...</button>
                    <button ng-click="addDialogA()" style="display: none">Ingresar Sílabo...</button>
                </div>  

                <div class="modal fade"  id="searchDialogA" tabindex="-1" role="dialog" aria-labelledby="Buscador de Sílabos" aria-hidden="true">
                    <div class="modal-dialog  modal-md">
                        <div class="modal-content" style = "width: 800px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Buscador de Sílabos</h4>
                            </div>
                            <div class="modal-body" id="author-select">
                                <div class="col-md-9">
                                    <input style="width: 100%" ng-model="searchText" ng-change="buscandoSilabo($event, searchText)" placeholder="{{'buscarSilabo'| translate}}" />
                                </div>

                                <div  class="col-md-12" style="overflow: auto; height: 90%">
                                    <table id="tablasearchDialog" class="table table-striped " style="font-size: x-small; ">

                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dependencia</th>
                                                <th>Institución</th>
                                            </tr>    
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="silabo in silabos| orderBy:['silaboNAME', 'silaboDEPENDENCIA']" ng-click='selectedSilaboA($event, silabo.silaboID)'>
                                                <td style="width: 100%">
                                                    <a>
                                                        {{ silabo["silaboNAME"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboDEPENDENCIA"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboINSTITUCION"]}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--Fin Search Dialog-->

                <!-- Inicia Add Dialogo, permite ingresar un silabo manualmente o cargar desde Excel-->
                <div class="modal fade"  id="addDialogA" tabindex="-1" role="dialog" aria-labelledby="Buscador de Sílabos" aria-hidden="true">
                    <div class="modal-dialog  modal-md">
                        <div class="modal-content" style = "overflow: auto; width: 900px; height: 500px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Ingresar datos del Sílabo</h4>
                            </div>
                            <div class="modal-body" >

                                <div id="divloadexcel" style="padding: 1%; padding-bottom: 5%">
                                    <div class="col-md-2" style="text-align: right">Cargar desde Excel 
                                    </div>
                                    <div class="col-md-6"><input type="file" id="inputExcelA" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                                    </div>
                                    <div  class="col-md-4">
                                        <p>El archivo debe cumplir el formato establecio, ejemplos: <a href='resources/modeloSilabo.xlsx'>Modelo de Silabo en Excel</a> - <a href='resources/modeloTemplate.xlsx'>Plantilla del modelo</a></p>
                                    </div>
                                </div>   
                                <div  class="col-md-12" style="overflow: auto;">
                                    <table id="tablaLoadDataDialog" class="table table-striped " style="font-size: x-small; ">

                                        <tbody id="contenidoAcademicoDeTablaA">
                                            <tr>
                                                <td style="width: 10%">
                                                    Título *
                                                </td>
                                                <td colspan="2" style="width: 55%">
                                                    <input style="width: 100%" ng-model="addTitulo" ng-change="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Descripción *
                                                </td>
                                                <td colspan="2">
                                                    <textarea style="width: 100%"  ng-model="addDescripcion" ng-change=""></textarea>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Objetivo *
                                                </td>
                                                <td colspan="2">
                                                    <textarea style="width: 100%" ng-model="addObjetivo" ng-change=""></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Dependencia / Facultad
                                                </td>
                                                <td colspan="2">
                                                    <input style="width: 100%" ng-model="addDependencia" ng-change="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Institución
                                                </td>
                                                <td colspan="2">
                                                    <input style="width: 100%" ng-model="addInstitucion" ng-change="" />
                                                </td>
                                            </tr>

                                            <tr id="trcontenidoA">
                                                <td>
                                                    Capítulo 1 *
                                                </td>
                                                <td>
                                                    <input style="width: 100%" ng-model="addCapitulo1" ng-change="" />
                                                </td>
                                                <td style="width: 11%">
                                                    Subcapítulos 1
                                                </td>
                                                <td style="width: 35%">
                                                    <input style="width: 100%" ng-model="addSubCapitulo1" ng-change="" /><br>
                                                    <input style="width: 100%" ng-model="addSubCapitulo2" ng-change="" /><br>
                                                    <input style="width: 100%" ng-model="addsubCapitulo3" ng-change="" /><br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-default" ng-click="seleccionarSilaboA()">Cargar</button>
                            </div>
                        </div>
                    </div>
                </div> <!--Fin Add Dialog-->
            </div> 


            <!--mostrando silabo A-->
            <div class="col-md-12">
                <sil-table data="dataA" label="labelA"></sil-table> 
            </div>
            <!-- Fin Mostrando silabo A-->

        </div> 
    </div> <!--fin Seelección de silabo A-->



    <!--------------------------------- TERMINA acciones con silabo A, inicia acciones con silabo B---->


    <!--Selección de silabo B-->
    <div class="col-md-6" >
        <h3 class="text-info" style="text-align: left">{{'silaboB'| translate}}:</h3>
        <div class="row" style="padding: 2%">


            <div class="col-md-12">


                <div class="ingresar col-md-12"  style="padding: 2%">
                    <button ng-click="searchDialogB()">Buscar Sílabo...</button>
                    <button ng-click="addDialogB()"  style="display: none">Ingresar Sílabo...</button>
                </div>  

                <div class="modal fade"  id="searchDialogB" tabindex="-1" role="dialog" aria-labelledby="Buscador de Sílabos" aria-hidden="true">
                    <div class="modal-dialog  modal-md">
                        <div class="modal-content" style = "width: 800px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Buscador de Sílabos</h4>
                            </div>
                            <div class="modal-body" id="author-select">
                                <div class="col-md-9">
                                    <input style="width: 100%" ng-model="searchText" ng-change="buscandoSilabo($event, searchText)" placeholder="{{'buscarSilabo'| translate}}" />
                                </div>

                                <div  class="col-md-12" style="overflow: auto; height: 70%">
                                    <table id="tablasearchDialog" class="table table-striped " style="font-size: x-small; ">

                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dependencia</th>
                                                <th>Institución</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="silabo in silabos| orderBy:['silaboNAME', 'silaboDEPENDENCIA']" ng-click='selectedSilaboB($event, silabo.silaboID)'>
                                                <td style="width: 100%">
                                                    <a>
                                                        {{ silabo["silaboNAME"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboDEPENDENCIA"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboINSTITUCION"]}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--- fin searchDialog-->


                <!-- Inicia Add Dialogo, permite ingresar un silabo manualmente o cargar desde Excel-->
                <div class="modal fade"  id="addDialogB" tabindex="-1" role="dialog" aria-labelledby="Buscador de Sílabos" aria-hidden="true">
                    <div class="modal-dialog  modal-md">
                        <div class="modal-content" style = "overflow: auto; width: 900px; height: 500px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Ingresar datos del Sílabo</h4>
                            </div>
                            <div class="modal-body" >

                                <div id="divloadexcel" style="padding: 1%; padding-bottom: 5%">
                                    <div class="col-md-2" style="text-align: right">Cargar desde Excel 
                                    </div>
                                    <div class="col-md-6"><input type="file" id="inputExcelB" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                                    </div>
                                    <div  class="col-md-4">
                                        <p>El archivo debe cumplir el formato establecio, ejemplos: <a href='resources/modeloSilabo.xlsx'>Modelo de Silabo en Excel</a> - <a href='resources/modeloTemplate.xlsx'>Plantilla del modelo</a></p>
                                    </div>
                                </div>   
                                <div  class="col-md-12" style="overflow: auto;">
                                    <table id="tablaLoadDataDialog2" class="table table-striped " style="font-size: x-small; ">

                                        <tbody id="contenidoAcademicoDeTablaB">
                                            <tr>
                                                <td style="width: 10%">
                                                    Título *
                                                </td>
                                                <td colspan="2" style="width: 55%">
                                                    <input style="width: 100%" ng-model="addTitulo" ng-change="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Descripción *
                                                </td>
                                                <td colspan="2">
                                                    <textarea style="width: 100%"  ng-model="addDescripcion" ng-change=""></textarea>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Objetivo *
                                                </td>
                                                <td colspan="2">
                                                    <textarea style="width: 100%" ng-model="addObjetivo" ng-change=""></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Dependencia / Facultad
                                                </td>
                                                <td colspan="2">
                                                    <input style="width: 100%" ng-model="addDependencia" ng-change="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Institución
                                                </td>
                                                <td colspan="2">
                                                    <input style="width: 100%" ng-model="addInstitucion" ng-change="" />
                                                </td>
                                            </tr>

                                            <tr id="trcontenidoB">
                                                <td>
                                                    Capítulo 1 *
                                                </td>
                                                <td>
                                                    <input style="width: 100%" ng-model="addCapitulo1" ng-change="" />
                                                </td>
                                                <td style="width: 11%">
                                                    Subcapítulos 1
                                                </td>
                                                <td style="width: 35%">
                                                    <input style="width: 100%" ng-model="addSubCapitulo1" ng-change="" /><br>
                                                    <input style="width: 100%" ng-model="addSubCapitulo2" ng-change="" /><br>
                                                    <input style="width: 100%" ng-model="addsubCapitulo3" ng-change="" /><br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-default" ng-click="seleccionarSilaboB()">Cargar</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div> 

            <!--mostrando silabo B-->
            <div class="col-md-12">
                <sil-table data="dataB" label="labelB"></sil-table> 
            </div>
            <!-- Fin Mostrando silabo B-->

        </div>
    </div> <!--fin Acciones de silabo B-->


    <div id="scrollToCalc" class="col-md-12" style="text-align: center; padding: 5%" ng-controller="calcSimilarity">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="ifClick()">Calcular Similitud</button>
        </div>
        <div id="scrollToValue" class="col-md-12 text-success" style="display: none; padding-top: 30px; ">
            <h1>La similitud entre los sílabos es: {{similitudFinal["similitudValue"]}} %</h1>
        </div>
    </div>

</div>
