<div ng-controller="translate">
    <div class="col-md-12" ng-controller="similitudNavegar" >
        <div id="scrollToTop">
        </div> 
        <hr>
        <hr>



        <div class="col-md-12">

            <center>
                <div class="page-header">
                    <h2 class="text-primary">Navegar</h2>
                </div>
            </center>
        </div>
        <div class="col-md-12" >
            <div  > <!--Seleccionando Silabo A-->
                <div class="col-md-3">
                    <h3 class="text-primary" style="text-align: left">{{'seleccioneInstitucion'| translate}}:</h3>
                    <select class="form-control" name="board" id="institutionA" ng-model="selectedInstitutionA"  ng-options="key.instID as key.instNAME for key  in institutionsFinal| orderBy:'instNAME'" >
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <h3 class="text-primary" style="text-align: left">{{'dependencia'| translate}}:</h3>
                    <select   class="form-control" name="group" id="group" ng-model="selectedDependenciaA" ng-options="key.depenID as key.depenNAME for key in dependenciasFinalA| orderBy:'depenNAME'" >
                        <option value="">Seleccione</option>
                        <!--            <option value="name">Autor</option> -->
                    </select>      

                </div>

                <div class="col-md-5">
                    <h3 class="text-primary" style="text-align: left">{{'silabo'| translate}}:</h3>
                    <select   class="form-control" name="groupb" id="groupb" ng-model="selectedSilaboA" ng-options="key.silaboID as (key.silaboNAME +      ' --- Creado en: ' +       key.silaboCREATION) for key in silabosFinalA| orderBy:['silaboNAME', 'silaboCREATION']" >
                        <option value="">Seleccione</option>
                    </select>
                </div>
            </div><!--Fin seleccionando silabo A-->
            <div  class="col-md-12" style="padding: 20px;">
                <p>
                    <a id="otrosilabo" class="text-light bg-primary" ng-click="if_B()" style="padding: 10px; display: none">Click para seleccionar otro Sílabo y comparar</a>
                </p>
            </div>
            <div id="seleccionandoB" style="display: none"><!--Seleccionando silabo B-->
                <div class="col-md-3">
                    <h3 class="text-primary" style="text-align: left">{{'seleccioneInstitucion'| translate}}:</h3>
                    <select class="form-control" name="board" id="board" ng-model="selectedInstitutionB"  ng-options="key.instID as key.instNAME for key  in institutionsFinal| orderBy:'instNAME'">
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <h3 class="text-primary" style="text-align: left">{{'dependencia'| translate}}:</h3>
                    <select   class="form-control" name="group" id="group" ng-model="selectedDependenciaB" ng-options="key.depenID as key.depenNAME for key in dependenciasFinalB| orderBy:'depenNAME'" >
                        <option value="">Seleccione</option>
                        <!--            <option value="name">Autor</option> -->
                    </select>
                </div>

                <div class="col-md-5">
                    <h3 class="text-primary" style="text-align: left">{{'silabo'| translate}}:</h3>
                    <select   class="form-control" name="groupb" id="group" ng-model="selectedSilaboB" ng-options="key.silaboID as (key.silaboNAME +      ' --- Creado en: ' +       key.silaboCREATION) for key in silabosFinalB | orderBy:['silaboNAME', 'silaboCREATION']" >
                        <option value="">Seleccione</option>
                    </select>
                </div>
            </div> <!--fin seleccionando silabo B-->

            <div>
                <!--mostrando silabo A-->
                <div class="col-md-6">
                    <sil-table data="dataA" label="labelA"></sil-table> 
                </div>
                <!-- Fin Mostrando silabo A-->

                <!--mostrando silabo B-->
                <div class="col-md-6">
                    <sil-table data="dataB" label="labelB"></sil-table> 
                </div>
                <!-- Fin Mostrando silabo B-->
            </div>

        </div>
    </div>

    <div id="scrollToCalc" class="col-md-12" style="text-align: center; padding: 5%" ng-controller="calcSimilarity">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="ifClick()">Calcular Similitud</button>
        </div>
        <div id="scrollToValue" class="col-md-12 text-success" style="display: none; padding-top: 30px; ">
            <h1>La similitud entre los sílabos es: {{similitudFinal["similitudValue"]}} %</h1>
        </div>
    </div>
</div>


