<div id="scrollToTop">
</div> 
<hr>
<hr>
<div ng-controller="exportController">


    <div class="col-md-12">

        <center>
            <div class="page-header">
                <h2 class="text-primary">Navegar</h2>
            </div>
        </center>
    </div>
    <div class="col-md-12" ng-controller="loadSyllabusA" >
        <div class="row" style="padding: 2%">
            <div class="col-md-3">
                <h3 class="text-primary" style="text-align: left">{{'seleccioneInstitucion'| translate}}:</h3>
                <select class="form-control" name="board" id="institutionA" ng-model="selectedInstitution"  ng-options="key.instID as key.instNAME for key  in institutionsFinal" ng-class="{selected: key.instID === selectedsearchInst}">
                    <option value="">Seleccione</option>
                </select>
            </div>

            <div class="col-md-4">
                <h3 class="text-primary" style="text-align: left">{{'dependencia'| translate}}:</h3>
                <select   class="form-control" name="group" id="group" ng-model="selectedDependencia" ng-options="key.depenID as key.depenNAME for key in dependenciasFinal" >
                    <option value="">Seleccione</option>
                    <!--            <option value="name">Autor</option> -->
                </select>                </select>

            </div>

            <div class="col-md-5">
                <h3 class="text-primary" style="text-align: left">{{'silabo'| translate}}:</h3>
                <select   class="form-control" name="groupb" id="groupb" ng-model="selectedSilabo" ng-options="key.silaboID as key.silaboNAME for key in silabosFinal" >
                    <option value="">Seleccione</option>
                </select>
            </div>


            <div class="buscador col-md-12" style="padding-top: 2%" >
                <h3 class="text-success" style="text-align: left">{{'buscarSilabo'| translate}}:</h3>
                <button ng-click="searchDialog()">Buscar...</button>
                <div class="modal fade"  id="searchDialog" tabindex="-1" role="dialog" aria-labelledby="Buscador de Sílabos" aria-hidden="true">
                    <div class="modal-dialog  modal-md">
                        <div class="modal-content" style = "width: 800px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Buscador de Sílabos</h4>
                            </div>
                            <div class="modal-body" id="author-select">
                                <input ng-model="searchText" ng-change="buscandoSilabo($event, searchText)" placeholder="{{'buscarSilabo'| translate}}" />
                                <div  style="overflow: auto; height: 70%">
                                    <table id="tablasearchDialog" class="table table-striped " style="font-size: x-small; ">

                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dependencia</th>
                                                <th>Institución</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="silabo in silabos" ng-click="setSelectedSilabo($event, silabo['silaboID'], silabo['silaboDEPENDENCIAID'], silabo['silaboINSTITUCIONID'])">
                                                <td style="width: 100%">
                                                    <a>
                                                        {{ silabo["silaboNAME"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboDEPENDENCIA"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboINSTITUCION"]}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--fin DIV buscador-->
        </div>
    </div> <!--fin Seelección de silabo A-->



    <p>
    <hr>
    <!--Selección de silabo B-->
    <div class="col-md-12" ng-controller="loadSyllabusB" >
        <h3 class="text-info" style="text-align: left">{{'silaboB'| translate}}:</h3>
        <div class="row" style="padding: 2%">

            <div class="col-md-3">
                <h3 class="text-success" style="text-align: left">{{'seleccioneInstitucion'| translate}}:</h3>
                <select class="form-control" name="board" id="board" ng-model="selectedInstitution"  ng-options="key.instID as key.instNAME for key  in institutionsFinal">
                    <option value="">Seleccione</option>
                </select>
            </div>

            <div class="col-md-3">
                <h3 class="text-success" style="text-align: left">{{'dependencia'| translate}}:</h3>
                <select   class="form-control" name="group" id="group" ng-model="selectedDependencia" ng-options="key.depenID as key.depenNAME for key in dependenciasFinal" >
                    <option value="">Seleccione</option>
                    <!--            <option value="name">Autor</option> -->
                </select>
            </div>

            <div class="col-md-3">
                <h3 class="text-success" style="text-align: left">{{'silabo'| translate}}:</h3>
                <select   class="form-control" name="groupb" id="group" ng-model="selectedSilabo" ng-options="key.silaboID as key.silaboNAME for key in silabosFinal" >
                    <option value="">Seleccione</option>
                </select>
            </div>


            <div class="buscador col-md-12" style="padding-top: 2%" >
                <h3 class="text-success" style="text-align: left">{{'buscarSilabo'| translate}}:</h3>
                <button ng-click="searchDialog()">Buscar...</button>
                <div class="modal fade"  id="searchDialog2" tabindex="-1" role="dialog" aria-labelledby="Buscador de Sílabos" aria-hidden="true">
                    <div class="modal-dialog  modal-md">
                        <div class="modal-content" style = "width: 800px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Buscador de Sílabos</h4>
                            </div>
                            <div class="modal-body" id="author-select">
                                <input ng-model="searchText" ng-change="buscandoSilabo($event, searchText)" placeholder="{{'buscarSilabo'| translate}}" />
                                <div  style="overflow: auto; height: 70%">
                                    <table id="tablasearchDialog" class="table table-striped " style="font-size: x-small; ">

                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dependencia</th>
                                                <th>Institución</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="silabo in silabos" ng-click="setSelectedSilabo($event, silabo['silaboID'], silabo['silaboDEPENDENCIAID'], silabo['silaboINSTITUCIONID'])">
                                                <td style="width: 100%">
                                                    <a>
                                                        {{ silabo["silaboNAME"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboDEPENDENCIA"]}}
                                                    </a>
                                                </td>
                                                <td style="width: 75px">
                                                    <a>
                                                        {{ silabo["silaboINSTITUCION"]}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--fin DIV buscador-->
        </div>
    </div> <!--fin Seelección de silabo B-->


    <div class="col-md-12" style="text-align: center; padding: 5%" ng-controller="calcSimilarity">
        <button type="button" class="btn btn-primary" ng-click="ifClick()">Calcular Similitud</button>
        <label>{{similitudFinal[0]["similitudValue"]}}</label>

    </div>
    <div id="scrollToHere">
    </div>

</div>
