<!doctype html>
<html lang="en" ng-app="similitudApp">
    <head>     
        <link rel="shortcut icon" href="similitud_silabos/images/faviconu.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Syllabus Similarity Detection</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-swipe/dist/angular-swipe.min.js"></script>
        <script src="custom_libs/angular-snapscroll.js"></script>
        <script src="bower_components/jsonld/js/jsonld.js"></script>
        <script src="bower_components/restangular/dist/restangular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-ui-bootstrap/src/pagination/pagination.js"></script>
        <script src="bower_components/topojson/topojson.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/d3-tip/index.js"></script>
        <script src="bower_components/angular-js-xlsx/angular-js-xlsx.js"></script>
        <script src="bower_components/js-xlsx/dist/xlsx.core.min.js"></script>


        <script src="custom_libs/d3-context-menu/js/d3-context-menu.js"></script>
        <script src="custom_libs/angular-sanitize/angular-sanitize.js"></script>

        <!-- DESARROLLO/DEBUG -->
        <link rel="stylesheet" href="similitud_silabos/css/animations.css">
        <link rel="stylesheet" href="similitud_silabos/css/visuals/general.css">
        <link rel="stylesheet" href="similitud_silabos/css/visuals/home.css">
        <link rel="stylesheet" href="similitud_silabos/css/visuals/source.css">
        <link rel="stylesheet" href="similitud_silabos/css/visuals/lists.css">
        <link rel="stylesheet" href="similitud_silabos/css/app.css">
        <link rel="stylesheet" href="similitud_silabos/css/visuals/similitudBuscar.css">
        <link rel="stylesheet" href="similitud_silabos/css/visuals/similitudNavegar.css">

        <script src="similitud_silabos/js/app.js"></script>
        <script src="similitud_silabos/js/controllers/controllers.js"></script>      
        <script src="similitud_silabos/js/controllers/translate.js"></script>
        <script src="similitud_silabos/js/controllers/similitudBuscar.js"></script>
        <script src="similitud_silabos/js/controllers/similitudNavegar.js"></script>
        <script src="similitud_silabos/js/controllers/calcSimilarity.js"></script>
        <script src="similitud_silabos/js/controllers/loadExcel.js"></script>
        <script src="similitud_silabos/js/services.js"></script>

        <script src="similitud_silabos/js/components/waitingDialog.js"></script>
        <script src="similitud_silabos/js/components/en.js"></script>
        <script src="similitud_silabos/js/components/es.js"></script>
        <script src="similitud_silabos/js/components/translation.js"></script>
        <script src="similitud_silabos/js/components/FileSaver.js"></script>
        <script src="similitud_silabos/js/components/stringsDistance.js"></script>
        <script src="similitud_silabos/js/components/d3.geo.js"></script>
        <script src="similitud_silabos/js/components/actionsExcel.js"></script>
        <script src="similitud_silabos/js/visuals/silaboTable.js"></script>


        <!-- APP PRODUCCION -->
        <!--<link rel="stylesheet" href="similitud_silabos/cssmin/animations.min.css">
        <link rel="stylesheet" href="similitud_silabos/cssmin/visuals/general.min.css"> 
        <link rel="stylesheet" href="similitud_silabos/cssmin/visuals/home.min.css">

        <!--Fin Importacion de Scripts--> 
    </head>

    <body>
        <div  ng-view class="container-fluid">

        </div>

        <nav class="navbar navbar-inverse navbar-fixed-top" style="opacity:1; margin-bottom:0; border:0; z-index: 0; background-color: #00b8e6">
            <div class="bg-primary collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #1E91F6">
                <ul class="nav navbar-nav" ng-controller="translate" style="font-size: large; ">
                    <li><a style="color: #FAFAFA" ng-click="refreshLang()" href="#/{{lang}}/">{{'home'|translate}}<span class="sr-only">(current)</span></a></li>
                    <li><a style="color: #FAFAFA" ng-click="refreshLang()" href="#/{{lang}}/data/ontology">{{'ontology'|translate}}</a></li>
                    <li><a style="color: #FAFAFA" ng-click="refreshLang()" href="#/{{lang}}/data/endpoint">{{'endpoint'|translate}}</a></li>
                    <li><a style="color: #FAFAFA" ng-click="refreshLang()" href="#/{{lang}}/info/about">{{'about'|translate}}</a></li>
                </ul>                    
            </div><!-- /.navbar-collapse -->
        </nav>

        <div style="position: fixed; bottom:0px;left:0px;" class='col-md-12' ng-include="'/similitud_silabos/partials/footnote.html'"></div>
    </body>
</html>
