

.imagesubmit {
    width: 35px;
    height: 35px;
    border-color: #008000;
    border-width: 2px;
}

.buscador{
    padding-top: 0%;
}
.li-buscador{
    padding-left: 0;
    padding-right: 0;
}
li.li-buscador.col-md-1{
    padding-top: 8px;
    text-align: center;
    
    width: 40px;
    height: 40px;
    border-color: #008000;
    border-width: 10px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}


.home.transition{
    height: 10px;
    width: 100%;
    background: rgba(0,51,100,1);
    background: -moz-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,51,100,1)), color-stop(100%, rgba(249,249,252,0.59)));
    background: -webkit-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: -o-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: -ms-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: linear-gradient(to bottom, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003364', endColorstr='#f9f9fc', GradientType=0 );

}




ul.gallery{    
margin-left: 3vw;     
margin-right:3vw;  
}    

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:100;  
    cursor: pointer;
}


/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 768px) {   
ul.gallery {      
margin-left: 15vw;       
margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}